/* Transition

[Property] <durasi> [fungsi] [delay] */

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 900px;
	margin: 10px auto;
	border: 5px solid black;
}

.kata {
	width: 900px;
	margin: auto;
	margin-top: 20px;
	color: white;
	text-align: center;
	font-family: arial;
	font-size: 50px;
	font-weight: bold;
	position: absolute;
}

.coba {
	width: 100px;
	height: 100px;
	background-color: black;
	transition: all 3s ease-out;
}

.container:hover .coba{
	/* transform: rotate(180deg);
	margin-left: 800px; */
	width: 900px;
	background-color: black;
}

/* Kedua */

.container2 {
	width: 900px;
	margin: 10px auto;
	border: 5px solid black;
}

.kotak {
	width: 100px;
	height: 100px;
	background-color: salmon;
	text-align: center;
	line-height: 100px;
	margin: 5px;
}

.kotak1 {transition: all 3s ease;}
.kotak2 {transition: all 3s ease-in;}
.kotak3 {transition: all 3s ease-out;}
.kotak4 {transition: all 3s ease-in-out;}
.kotak5 {transition: all 3s linear;}
.kotak6 {transition: all 3s cubic-bezier(0.18, 0.89, 0.32, 1.28);}

.container2:hover .kotak {
	transform: rotate(720deg);
	margin-left: 800px;
	background-color: royalblue;
}

/* Ketiga */

.container3 {
	width: 900px;
	margin: 10px auto;
	border: 5px solid black;
}

.delay {
	width: 100px;
	height: 100px;
	background-color: salmon;
	text-align: center;
	line-height: 100px;
	margin: 5px 0;
	transition: margin-left 3s, transform 3s 2s, 
				background-color 500ms 3s;
}

.container3:hover .delay {
	transform: rotate(720deg);
	margin-left: 800px;
	background-color: royalblue;
}